.container{
    padding: 10px 500px 100px 500px;
}
h1{
    text-align: center;
    font-size: 50px;
    color: lightslategray;
    font-family: sans-serif;
}
img {
    height: 200px;
    align-items: center;
}
.row-1{
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.row-2{
    background-color: pink;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.row-3{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
#div{
    margin: 20px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
}