<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Flask</title>
</head>
<body>
    <h1>Add a Friend</h1>
    <form action="/create_friend" method="post">
        <label for="fname">First Name:</label>
        <input type="text" name="fname">
        <label for="lname">Last Name:</label>
        <input type="text" name="lname">
        <label for="occ">Occupation</label>
        <input type="text" name="occ">
        <input type="submit" value="Add Friend">
    </form>
    <hr>
    <h1>These are my friends</h1>
    {% for one_friend in all_friends %}
        <p>First name: {{one_friend.first_name}}</p>
        <p>Last name: {{one_friend.last_name}}</p>
        <P>Occupation: {{one_friend.occupation}}</P>
        <hr>
    {% endfor %}
</body>
</html>