*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* Header */
.navbar{
    width: 100%;
    background-color: rgb(128, 186, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-elements{
    display: flex;
    width: 60%;
    padding: 10px;
}
.navbar-title{
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
    font-size: 40px;
}
.navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.location{
    margin-left: 10%;
    color: white;
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
/* Main Body */
.main-body{
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
/* Weather Header */
.weather-header{
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    width: 100%;
    align-items: center;
}
.header-title{
    font-size: 40px;
    flex: 1;
}
.temp-pick{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
.temp-options{
    border-style: solid;
    border-color: black;
    margin-left: 5%;
    width: 50px;
    height: 30px;
}
/* Weather forecast */
.weather-forecast{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/* weather boxes */
.weather-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    flex: 1;
    align-items: center;
    background-color: rgb(187, 187, 187);
    text-align: center;
    line-height: 3;
    border-radius: 1%;
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
}
.weather-box-bottom{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.red{
    color: red;
}
.blue{
    color: rgb(0, 60, 255);
}
.image-size{
    width: 70%;
    border-radius: 50%;
}
/* Cookies */
.cookies{
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100px;
    padding: 10px;
    position: fixed;
    bottom: 100px;
    background-color: white;
    opacity: 100%;
}
.accept-button{
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(102, 181, 255);
    border-style: solid;
    border-color: black;
    width: 20%;
    height: 40%;
    font-weight: bolder;
    font-size: 16px;
    box-shadow: 2px 2px black;
    cursor: pointer;
}
.cookie-text{
    margin-left: 20px;
}
.cookie-image{
    margin-left: 10px;
}